html,body {
    margin: 0;
    height: 100%;
}

body {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit';
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 14px;
    background-color: white;
    width: 16rem;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    border-radius: 14px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    gap: 0.5rem;
    text-align: center;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.card-desc{
    color: var(--slate-500);
    font-size: 0.8rem;
}